################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Models/.vs/Models
/src/Models/nuget.config
/src/Models/Cti.Genesys.Platform.Models/obj
/refs/psdk
/.vs
/src/Models/Cti.Genesys.Platform.Models.Config/obj
