################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Models/.vs/Models
/src/Models/nuget.config
/src/Models/Cti.Genesys.Platform.Models/obj
/refs/psdk
/.vs
/src/Models/Cti.Genesys.Platform.Models.Config/obj
/src/Adapters/.vs/Adapters
/src/Adapters/Cti.Genesys.Platform.Adapters/obj
/src/Providers/.vs/Providers
/src/Providers/Cti.Genesys.Platform/bin/Debug/netstandard2.0
/src/Providers/Cti.Genesys.Platform/obj
/src/Providers/Cti.Genesys.Platform.Config/obj
/src/Providers/Cti.Genesys.Platform.Config.Queries/bin/Debug/netstandard2.0
/src/Providers/Cti.Genesys.Platform.Config.Queries/obj
/src/Providers/Cti.Genesys.Platform.Repos/obj
/src/Providers/nuget.config
/src/Models/Cti.Genesys.Platform.Models/bin/Debug/netstandard2.0
/src/Models/Cti.Genesys.Platform.Models.Config/bin/Debug/netstandard2.0
/src/Providers/Cti.Genesys.Platform.Config/bin/Debug/netstandard2.0
/src/Providers/Cti.Genesys.Platform.Config.Extensions/bin/Debug/netstandard2.0
/src/Providers/Cti.Genesys.Platform.Config.Extensions/obj
/src/Providers/Cti.Genesys.Platform.Repos/bin/Debug/netstandard2.0
/src/Providers/Cti.Genesys.Platform.Repos.Config/bin/Debug/netstandard2.0
/src/Providers/Cti.Genesys.Platform.Repos.Config/obj
/src/Adapters/Cti.Genesys.Platform.Adapters.Config/bin/Debug/netstandard2.0
/src/Adapters/Cti.Genesys.Platform.Adapters.Config/obj
/src/Adapters/nuget.config
